n8n-prompt-automation-workflow.json
{
  "name": "VeriGrade Prompt Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prompt-execute",
        "options": {}
      },
      "id": "prompt-webhook-trigger",
      "name": "Prompt Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "verigrade-prompt-execute"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "{{ $json.body.promptTemplate.prompt }}",
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: { result: $json.choices[0].message.content, timestamp: new Date().toISOString() } }) }}"
      },
      "id": "response-node",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Prompt Webhook Trigger": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "verigrade-prompt-automation",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}