n8n-scheduled-prompts-workflow.json
{
  "name": "VeriGrade Scheduled Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://backend-ltjn9jmae-robertotos-projects.vercel.app/api/organizations",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "fetch-organizations",
      "name": "Fetch Organizations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-organizations",
      "name": "Split Organizations",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://backend-ltjn9jmae-robertotos-projects.vercel.app/api/prompts/financial-health-assessment/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputData",
              "value": "={{ { organizationId: $json.id, analysisDate: new Date().toISOString() } }}"
            }
          ]
        },
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "execute-analysis",
      "name": "Execute Financial Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://backend-ltjn9jmae-robertotos-projects.vercel.app/api/notifications",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "organizationId",
              "value": "={{ $('Split Organizations').item.json.id }}"
            },
            {
              "name": "type",
              "value": "daily_analysis"
            },
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Fetch Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Organizations": {
      "main": [
        [
          {
            "node": "Split Organizations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Organizations": {
      "main": [
        [
          {
            "node": "Execute Financial Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Financial Analysis": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "verigrade-scheduled-analysis",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}