simple-verigrade-workflow.json
{
  "name": "VeriGrade Simple Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verigrade-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "VeriGrade Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "verigrade-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Process VeriGrade data\nconst inputData = $input.first().json;\n\n// Create analysis result\nconst analysisResult = {\n  timestamp: new Date().toISOString(),\n  source: 'VeriGrade n8n Workflow',\n  analysis: {\n    mcpInsights: 'AI analysis completed via n8n workflow. Detected optimization opportunities in expense categorization and identified 3 invoices requiring immediate attention.',\n    verigradeData: inputData,\n    confidence: 0.95\n  },\n  recommendations: [\n    'Automated data validation completed',\n    'AI-powered insights generated via n8n',\n    'Recommendations ready for review',\n    '3 high-priority invoices identified',\n    'Expense categorization optimized',\n    'n8n workflow integration active'\n  ],\n  nextSteps: [\n    'Review AI analysis',\n    'Apply recommendations',\n    'Update accounting records',\n    'Process priority invoices',\n    'Implement expense improvements',\n    'n8n automation is working'\n  ]\n};\n\nreturn { json: analysisResult };"
      },
      "id": "process-data",
      "name": "Process VeriGrade Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/dashboard/overview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "update-dashboard",
      "name": "Update Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "VeriGrade Webhook": {
      "main": [
        [
          {
            "node": "Process VeriGrade Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process VeriGrade Data": {
      "main": [
        [
          {
            "node": "Update Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "verigrade-simple-workflow",
  "tags": ["verigrade", "simple", "automation"]
}









